body {
  font-family: "Google Sans", arial, sans-serif;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}

h1 {
  color: rgb(123, 125, 129);
  font-size: 22px;
  font-weight: 400;
  height: 26px;
  line-height: 26px;
  margin-bottom: 0;
}

li {
  color: rgb(112, 117, 122);
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  width: 149.891px;
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}
